.page {
    background-color:aqua;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-row {
    background-color: yellow;
    height: 30vh;
}

.middle-row {
    background-color: red;
    height: 50vh;
}

.bottom-row {
    background-color: green;
    height: 20vh;
}
