@using EasyBillingReports2.Components.Pages
@inherits LayoutComponentBase

<div class="header">
    Header
</div>

<div class="grid-container">
    <div class="item2">Left</div>
    <div class="item3">Right-Top</div>
    <div class="item4">Right-Bottom</div>
</div>