@using EasyBillingReports2.Components.Pages
@inherits LayoutComponentBase

<div class="header">
    <ProjectSelection/>
</div>

<div class="grid-container">
    <div class="item1">
        <WorkPeriods/>
    </div>
    <div class="item2">Right-Top</div>
    <div class="item3">Right-Bottom</div>
</div>