.header {
    height: 60px;
}

.grid-container {
    height: calc(100vh - 60px);
    display: grid;
    grid-template-areas:
        'left left left right-top right-top right-top'
        'left left left right-top right-top right-top'
        'left left left right-bottom right-bottom right-bottom';
}

.item2 {
    grid-area: left;
    background-color: yellow;
}

.item3 {
    grid-area: right-top;
    background-color: blue;
}

.item4 {
    grid-area: right-bottom;
    background-color: green;
}