@using EasyBillingReports2.Components.Pages
@inherits LayoutComponentBase

<div class="page">
    <div class="top-row">
        <ProjectSelection></ProjectSelection>
    </div>

    <div class="middle-row">
        <div class="middle-row-left">
            <p>Middle left</p>
        </div>
        <div class="middle-row-right">
            <p>Middle right</p>
        </div>       
    </div>

    <div class="bottom-row">
        <p>Bottom</p>
    </div>
</div>