@using EasyBillingReports2.BusinessLogic
@using EasyBillingReports2.Data

@inject IPeriodLoader Wpl
@inject Billing Bll

<div style="padding-top: 10px; padding-right: 20px">
    <RadzenStack Style="background-color: lightgray"
                 Orientation="Radzen.Orientation.Horizontal" AlignItems="AlignItems.End" JustifyContent="Radzen.JustifyContent.End"
                 Gap="6rem" class="rz-p-0">
        <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right"><strong>€/Hour: </strong>@_eurHour</RadzenText>
        <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right"><strong>Hours: </strong>@_hours</RadzenText>
        <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right"><strong>Total: </strong>@_total€</RadzenText>        
    </RadzenStack>
</div>

