@page "/"
@page "/{Year:int}/{Month:int}"
@page "/{Year:int}/{Month:int}/{Period:guid}"

@using EasyBillingReports2.Web.Components.Fragments
@inject NavigationManager Navigator
@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />

<div class="page">
    <div class="top-row">
        <ProjectSelection></ProjectSelection>
    </div>

    <div class="middle-row">
        <div class="middle-row-left">
            <WorkPeriods></WorkPeriods>
        </div>
        <div class="middle-row-right">
            <ActivitiesOfPeriod PeriodId="@_periodId"></ActivitiesOfPeriod>
        </div>       
    </div>

    <div class="bottom-row">
        <BillingTotals Month="@_month" Year="@_year"></BillingTotals>
    </div>
</div>

@code
{
    [Parameter]
    public int Year { get; set; }

    [Parameter]
    public int Month { get; set; }

    [Parameter]
    public int Period { get; set; }

    private int _year;
    private int _month;
    private Guid _periodId;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _periodId = Guid.Empty;

        var now = DateTime.Now;
        _year = now.Year;
        _month = now.Month;

        // For the life of me, I'm unable to get the framework to
        // populate parameter Id. I'll debug more in the future with more time
        // For now, extract parameters directly from the Url
        var builder = new UriBuilder(Navigator.Uri);
        var path = builder.Path;
        var parameters = path
            .Split("/")
            .Where(x => !string.IsNullOrEmpty(x))
            .ToList();
        if (parameters.Count <= 1)
        {
            return;
        }

        _year = int.Parse(parameters[0]);
        _month = int.Parse(parameters[1]);        
        if (parameters.Count >= 3)
        {
            _periodId = Guid.Parse(parameters[2]);
        }
    }
}