@page "/"
@page "/activities"
@page "/activities/{Id:Guid}"
@using EasyBillingReports2.Web.Components.Fragments
@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />

<div class="page">
    <div class="top-row">
        <ProjectSelection></ProjectSelection>
    </div>

    <div class="middle-row">
        <div class="middle-row-left">
            <WorkPeriods></WorkPeriods>
        </div>
        <div class="middle-row-right">
            <ActivitiesOfPeriod></ActivitiesOfPeriod>
        </div>       
    </div>

    <div class="bottom-row">
        <BillingTotals></BillingTotals>
    </div>
</div>

@code
{
    [Parameter]
    public Guid Id { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}